
ser.phar
/vendor
/.idea
/node_modules
phpdocumentor/
.phpunit.result.cache
.php-cs-fixer.cache
.phpunit.cache/
/coverage
infection.log
composer.lock
/build
.DS_Store
.docker-sync
yarn-error.log
/.env.local
/.env.local.php
/.env.*.local

